{% extends 'jobs/base.html' %}
{%block title%}Maciej Fularz{%endblock%}
{% load static %}
{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hi, I'm Maciej</h1>
        <p class="lead text-muted">This site is my first project. I am learning how to make Django websites.
          <br>And I love it!</p>
        <p>
          <a class="btn btn-primary my-2" href="mailto:fularzmaciej@gmail.com">Email me!</a>
        </p>
        <img class="image-fluid" src="{% static '116.jpg' %}" height="300"/>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for job in jobs.all %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ job.image.url }}" alt="job logo"/>
            <div class="card-body">
            <p class="card-text"> {{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}